/*-----------
DEBUT GENERAL						
-----------*/
html {
	font-size: 100%;
}

html, body, .wrapper {
	width: 100%;
	height: 100%;
}

body {
	font-family: 'Inconsolata';
	font-size: 62.5%;
	overflow-x:hidden;
	overflow-y:scroll;
}

section {
	min-height: 100%;
	width: 100%;
	margin: 0 auto;
	box-sizing: border-box;
	position: relative;
	border: white solid 10px;
	border-top: white solid 40px;
}

h3 {
	text-align: center;
	font-size: 3.5em;
	font-weight: lighter;
	color: white;
	margin: 0 0 5px;
}

h3 + p {
	margin: 0 0 5px;
	text-align: center;
	color: white;
	font-size: 4em;
}

h3::first-letter {
	text-transform: uppercase;
}

.competences, .realisations, .contact {
	padding: 70px 0 40px;
}
/*---------
FIN GENERAL						
---------*/

/*--------------
DEBUT NAVIGATION						
--------------*/
header {
	height: 50px;
	position: absolute;
	top: 100%;
	z-index: 1000;
	background-color: white;
	width: 100%;
}

header nav {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	bottom: 0;
	width: 100%;
/*	height: JS; */ 
	z-index: 1;
	background-color: #ececec;
}

header nav ul {
	display: block;
	height: 220px;
	margin: 0 auto;
	position: absolute;
	top: calc(50% - 110px);
	bottom: 0;
	left: 0;
	right: 0;
}

header nav ul li {
  display: block;
	height: 50px;
	text-align: center;
	/*vertical-align: middle;*/
}

header nav ul li:first-child {
	margin-bottom: 20px;
}

header nav ul li a {
	text-transform: uppercase;
	color: black;
	font-size: 15px;
	font-weight: 500;
	text-decoration: none;
}

.bouton-menu {
  position: absolute;
  left: 7%;
  top: 5px; 
  width: 40px;
  height: 42px;
  z-index: 2;
}

.bouton-menu div {
  width: 40px;
  height: 2px;
  margin: 9px 0 9px 0;
  border-radius: 30px;
  background-color: black;
  transition: all 0.7s;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -o-transition: all 0.7s;
  -ms-transition: all 0.7s;
}

.croix .barre1 {
  -moz-transform: rotate(45deg) translate(8px, 8px);
  -webkit-transform: rotate(45deg) translate(8px, 8px);
  -o-transform: rotate(45deg) translate(8px, 8px);
  -ms-transform: rotate(45deg) translate(8px, 8px);
  transform: rotate(45deg) translate(8px, 8px);
}

.croix .barre3 {
  -moz-transform: rotate(-45deg) translate(7px, -8px);
  -webkit-transform: rotate(-45deg) translate(7px, -8px);
  -o-transform: rotate(-45deg) translate(7px, -8px);
  -ms-transform: rotate(-45deg) translate(7px, -8px);
  transform: rotate(-45deg) translate(7px, -8px);
}

.croix .barre2 {
  background: transparent;
  animation-duration: 3s;
  animation-name: opacity;
}
  
@keyframes opacity {
  from {
    opacity: 1;
  }
    
  to {
    opacity: 0;
  }
}
/*------------
FIN NAVIGATION						
------------*/

/*-----------
DEBUT ACCUEIL						
-----------*/
.accueil {
	background-image: url(../images/background/400X720.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.accueil img {
	position: absolute;
	top: -33px;
	left: 0;
	right: 0;
	margin: auto;
}

.presentation {
	position: fixed;
	text-align: center;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 0;
	margin: auto;
	letter-spacing: 2px;
	text-transform: uppercase;
}

h1 {
	font-size:2.5em;
	color: #14c090;
	margin-bottom: 5px;
}

h2 {
	font-size:1em;
	color: white;
}

.accueil a {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 20px;
	margin: auto;
	text-align: center;
}
/*---------
FIN ACCUEIL						
---------*/

/*------------
DEBUT A PROPOS						
------------*/
.competences {
	background-color: #14c090;
	z-index: 1;
}

.competences p + p {
	text-align: center;
	width: 80%;
	margin: 0 auto;
	max-width: 600px;
	font-size: 1.5em;
	line-height: 1.5em;
	color: black;
}

.competences p:nth-child(1n+5) {
	margin-bottom: 30px;
}

.barres {
	position: relative;
	width: 80%;
	max-width: 600px;
	height: 1.2em;
	line-height: 1.2em;
	vertical-align: middle;
	overflow-x: hidden;
	font-size: 1.5em;
	margin: 10px auto;
	background-color: white;
}

.barres .barre {
	position: absolute;
	top: 0;
	height: 100%;
	overflow: hidden;
}

.barres .barre span {
	position: absolute;
	display: block;
	/*width: JS;*/
	height: 100%;
	text-align: center;
	text-transform: uppercase;
}

.positive {
	/*width: JS*/
	background-color: #808080;
	left: 0;

}

.positive span {
	left: 0;
	color: #fff;
}

.negative {
	/*width: JS*/
	background-color: #fff;
	right: 0;

}

.negative span {
	right: 0;
	color: #808080;
}

/*----------
FIN A PROPOS						
----------*/

/*----------------
DEBUT REALISATIONS						
----------------*/
.realisations {
	background-color: #ececec;
}

.realisations h3 {
	color: #666666;
} 

.realisations h3 + p {
	color: #666666;
} 

.realisations ul li {
	display: block;
	width: 80%;
	margin: 0 auto 30px;
}

.visuel-projet {
	max-height: 340.6px;
	max-width: 500px;
	width: 100%;
	/*height: JS*/
	margin: 0 auto;
	box-sizing: border-box;
}

.visuel-projet-svg {
	width: 100%;
	height: 10.28%;
	max-height: 48px;
	box-sizing: border-box;
	border-radius: 10px 10px 0 0;
	background-color: #BDBDBD;
	position: relative;
}

.bouton-navigateur {
	width: 8px;
	height: 8px;
	border-radius: 60px;
	background-color: #666666;
	position: absolute;
	top: calc(50% - 3px);
	right: 10px;
}

.visuel-projet-img {
	width: 100%;
	height: 85.72%;
	max-height: 292px;
	box-sizing: border-box;
	border-top: 0;
	border-radius: 0 0 5px 5px;
	overflow: hidden;
	border: 1px solid #BDBDBD;
	position: relative;
}

.visuel-projet-img ul, .visuel-projet-img ul li, .visuel-projet-img ul li img {
	width: 100%;
	height: 100%;
}

.visuel-projet-img ul li {
	margin-bottom: 0;
	display: block;
	float: left;
}

.presentation-projet {
	text-align: center;
	width: 100%;
	height: 100%;
	background-color: #ececec;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	opacity: 0.9;
	box-sizing: border-box;
	color: black;
}

.presentation-projet h4 {
	font-size: 2em;
	text-transform: uppercase;
	font-weight: lighter;
	width: 100%;
	margin: 30px auto 5px;
}
.presentation-projet p {
	width: 90%;
	margin: 0 auto 10px;
	font-size: 1.3em;
}

.presentation-projet a {
	width: 90%;
	margin: 30px auto 0;
	text-decoration: none;
	color: black;
	text-transform: uppercase;
	font-size: 1.1em;
	display: block;
}

.presentation-projet a:hover {
	color: #14c090;
}

.realisations ul li .visuel-projet:hover .presentation-projet {
	display: block;
}

.realisations ul li .visuel-projet:hover .bouton-navigateur {
	background-color: #14c090;
} 
/*--------------
FIN REALISATIONS						
--------------*/

/*-----------
DEBUT CONTACT						
-----------*/
.contact {
	background-color: #939C87;
	min-height: 0;
}

.contact ul {
	text-align: center;
}

.contact ul li {
	display: inline-block;
	margin: 30px 5px;
}

.contact ul li a {
	padding: 0 5px;
}

.contact ul li a i {
	color: white;
	font-size: 3.1em;
}

.contact ul li a:hover i {
	color: #14c090;
	margin-bottom: 20px;
}


/*---------
FIN CONTACT						
---------*/

/*--------------
DEBUT RESPONSIVE						
--------------*/
@media only screen and (min-width: 401px) {
	body  {
		font-size: 75%;
	}

	.accueil {
		background-image: url(../images/background/768X1024.jpg);
	}

	.presentation-projet h4 {
		margin: 50px auto 5px;
	}
}

@media only screen and (min-width: 769px) {
	body  {
		font-size: 87%;
	}

	.accueil {
		background-image: url(../images/background/1440X900.jpg);
	}

	header {
		display: inline-block;
	}

	header nav {
		display: inline-block;
		text-align: center;
		top: 0;
		/*height: 100%;*/
		width: 100%;
	/*	height: JS; */ 
		z-index: 1;
		background-color: white;
	}

	header nav ul {
		position: static;
		display: inline-block;
		height: 100%;
		width: 100%;
	}

	header nav ul li {
		display: inline-block;
		height: 100%;
		text-align: center;
	}

	header nav ul li:nth-child(1n+2) {
		background-color: black;
		opacity: 0.8;
		height: 17px;
		margin-top: 35px;
		padding: 5px 5px;
		border-bottom: 1px solid black;
	}

	header nav ul li:nth-child(1n+2) a {
		color: white;
		font-size: 17px;
		padding: 0 15px;
		box-sizing: border-box;
	}

	header nav ul li:first-child {
		position: absolute;
		left: 10%;
		top: 8px;
	}

	.bouton-menu {
	  display: none;
	}

	header nav ul li:nth-child(1n+2):hover {
		background-color: #666666;
		opacity: 1;
		border-bottom: 1px solid white;
	}

	.presentation-projet h4 {
		margin: 60px auto 5px;
	}
}

@media only screen and (min-width: 901px) {
	body  {
		font-size: 100%;
	}	

	.accueil {
		background-image: url(../images/background/1900X1000.jpg);
	}
}
/*------------
FIN RESPONSIVE						
------------*/

/*------------
DEBUT ANIMATION LOAD						
------------*/
.cd-loading-bar {
  /* this is the loding bar - visible while switching from one page to the following one */
  position: fixed;
  z-index: 2;
  left: 50%;
  top: 50%;
  height: 2px;
  width: 90%;
  background-color: #808080;
  visibility: visible;
  -webkit-transition: visibility 0s 0.4s, -webkit-transform 0.4s 0s ease-in;
  -moz-transition: visibility 0s 0.4s, -moz-transform 0.4s 0s ease-in;
  transition: visibility 0s 0.4s, transform 0.4s 0s ease-in;
  /* Force Hardware Acceleration */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  animation: 0s linear loadEnd 3s forwards;
}

.cd-loading-bar div {
  width: 100%;
  height: 100%;
  background: #fff;
  animation: 3s linear load;
}

.cd-cover-layer {
  /* layer that covers the content when the animation is triggered */
  position: fixed;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  opacity: 1;
  visibility: visible;
  background-color: #14c090;
  -webkit-transition: opacity 0.4s 0.4s, visibility 0s 0.8s;
  -moz-transition: opacity 0.4s 0.4s, visibility 0s 0.8s;
  transition: opacity 0.4s 0.4s, visibility 0s 0.8s;
  animation: .5s linear loadingBarEnd 3s forwards;
}

@keyframes load {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes loadingBarEnd {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes loadEnd {
  from {
    height: 2px;
  }
  to {
    height: 0;
  }
}